.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-title {
  font-weight: 600;
  margin: 30px;
  padding: 8px;
  font-size: 28px;
  border-bottom: 3px solid #6f8516;
  border-top: 3px solid #6f8516;
  border-radius: 10px;
  font-family: sans-serif;
}

.table-link {
  text-decoration: none;
  color: #6f8516;
  font-size: 20px;
  cursor: pointer;
  border-bottom: 2px solid #6f8516;
}

.table-header {
  width: 75%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.table-header__entries {
  width: 180px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 600;
  color: #6f8516;
  align-items: center;
}

.table-header__select {
  height: 30px;
  border: 2px solid #6f8516;
  border-radius: 5%;
  cursor: pointer;
}

.table-header__select option {
  color: #6f8516;
}

.table-header__search {
  font-size: 20px;
  font-weight: 600;
  color: #6f8516;
  align-items: center;
  display: flex;
}

.header-search__input {
  height: 30px;
  border: 2px solid #6f8516;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.header-search__input::placeholder {
  color: #6f8516;
}

.header-search__icone {
  height: 15px;
}

table {
  border-collapse: collapse;
  width: 85%;
  margin: 50px 0 50px 0;
}

table th {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
}

table td,
table th {
  border: 2px solid #6f8516;
  padding: 12px;
}

table tr:nth-child(even) {
  background-color: #94ad1819;
}

table tr:hover {
  background-color: rgb(221, 221, 221);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #6f8516;
  color: white;
  font-weight: 600;
}

.table-content__icon {
  margin-left: 12px;
}

.table-nav {
  width: 75%;
  display: flex;
  height: 96px;
  align-items: center;
  justify-content: space-between;
}

.table-nav__text {
  font-size: 20px;
  font-weight: 600;
  color: #6f8516;
  display: block;
  width: 60%;
  gap: 5px;
}

.table-nav__list {
  display: flex;
  width: 240px;
  justify-content: space-between;
  align-items: center;
}

.table-nav__list--button {
  display: flex;
  width: 90px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 2px solid #6f8516;
  border-radius: 5%;
  background-color: #f8f8f8;
  color: #6f8516;
  cursor: pointer;
}

ul li {
  list-style-type: none;
}

.table-nav__list--button:hover {
  background-color: rgb(221, 221, 221);
}

.table-nav__list__icon--right {
  margin-left: 10px;
}

.table-nav__list__icon--left {
  margin-right: 10px;
}

.table-nav__list--text {
  font-size: 20px;
  font-weight: 600;
}
